body {
  background: #1A2227 !important;
  padding-top: 5rem;
}

ul {
  padding: 0rem;
}

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

.default-text {
  color: #666;
}

.btn-primary {
  background-color: #4285F4 !important;
  border-color: #4285F4 !important;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: rgb(36,103,214) !important;
  box-shadow: none !important;
}

.bitn-secondary:hover,
.btn-secondary:focus {
  border-color: #50C0FF !important;
  box-shadow: none !important;
  background-color: #5A6065;
}

.post {
  background-color: #2A3237 !important;
  color: #fff;
  border-color: #555 !important;
  border: 1px;
  border-style: solid;
}

.post:hover {
  -moz-box-shadow: 0 0 1px 1px #50C0FF;
  -webkit-box-shadow: 0 0 1px 1px #50C0FF;
  box-shadow: 0 0 1px 1px #50C0FF;
}

.comment {
  background-color: #252C32 !important;
  color: #fff;
  border-color: #222 !important;
  border: 1px;
  border-style: solid;
}

.user {
  width: 2.3rem;
  height: 2.3rem;
}

.navbar-brand {
  text-decoration: underline !important;
  text-decoration-color: #4285F4 !important;
  font-size: 1.8em !important;
}

.navbar-brand:hover {
  transition: .2s;
  transform: scale(1.05);
}

.center {
  text-align: center;
}

.center-screen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hidden {
  display: none;
}

.form {
  background-color: #2A3237 !important;
  color: #fff;
  border-color: #555 !important;
  border: 1px;
  border-style: solid;
}

.form-popup {
  text-align: center;
}

.bottom {
  bottom: 0rem;
  right: 0rem !important;
}

.no-decoration {
  text-decoration: none;
}

.round-corners {
  border-radius: 0.3rem;
}

.back {
  z-index: -1;
}
